<button ion-button small icon-left (click)="cartTapped()">
    <ion-icon name="cart"></ion-icon>
    <small *ngIf="cartProvider.totalItem">{{ cartProvider.totalItem }} {{ text }}</small>
</button>                
