<!--
  Generated template for the OrderHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Order History</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-card *ngFor="let item of results" (click)="itemTapped($event, item.order_number)">
      <ion-card-header>
        {{ item.order_number }}
      </ion-card-header>
      <ion-card-content>
        <p>
          {{ getDateTime(item.created) }}
        </p>
        <p>
          Total Amount: IDR {{ item.price_shipping + item.price_product | number:'3.2-5':'id'}}
        </p>
        <ion-badge color="secondary">{{ getStatus(item.status) }}</ion-badge>
      </ion-card-content>
    </ion-card>
</ion-content>
