<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="page-login">

  <ion-card>
    <ion-list>    
      <ion-item>
        <ion-icon name="mail" item-start></ion-icon>
        <ion-input type="text" [(ngModel)]="userData.email" placeholder="Email"></ion-input>        
      </ion-item>      
      <ion-item>
        <ion-icon name="key" item-start></ion-icon>
        <ion-input type="password" [(ngModel)]="userData.password" placeholder="Password"></ion-input>
      </ion-item>                 
    </ion-list>
    <ion-card-content *ngIf="errors.message" class="errors">
      <p>{{ errors.message }}</p>
    </ion-card-content>    
    <ion-card-content>
      <button ion-button full color="success" (click)="login()">Login</button>
    </ion-card-content>    
  </ion-card> 
</ion-content>
