<ion-header>
    <ion-toolbar>
        <ion-title>
        Description
        </ion-title>
        <ion-buttons start>
        <button ion-button (click)="dismiss()">
            <span ion-text color="primary" showWhen="ios">Cancel</span>
            <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
      
<ion-content>
    <ion-list>
        <ion-item>
            <h2>Item</h2>
        </ion-item>
    </ion-list>
</ion-content>