<!--
  Generated template for the ListmodelsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ selectedCategory.name }}</ion-title>
    <ion-buttons end>
      <cart-menu></cart-menu>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="cat">
      <ion-segment-button value="all">
        Browse
      </ion-segment-button>
      <ion-segment-button value="number">
        Search Number
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>  
</ion-header>


<ion-content>
  <div [ngSwitch]="cat">
  
    <div *ngSwitchCase="'all'">
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let category of items" (click)="itemTapped($event, category)">
          <h2>{{ category.name }}</h2>
          <p [innerHTML]="category.description"></p> 
          <p>Year: {{ category.year }}</p>   
          <p>Enggine: {{ category.enggine_type }}</p>  
        </ion-item>
      </ion-list>
    </div>

    <ion-card *ngSwitchCase="'number'">
      <ion-card-content>
        <ion-input type="text" placeholder="Enter Part Number" [(ngModel)]="query.no"></ion-input> 
        <div *ngIf="errors.message" color="danger">
          <p>{{ errors.message }}</p>
        </div>         
        <button ion-button full (click)="searchPartNo()">Search</button>
      </ion-card-content>
    </ion-card>  
  
  </div>
</ion-content>
