<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Register
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="page-register" padding>

    <form [formGroup]="registerForm" #formDir="ngForm">
      <ion-item>
          <ion-label floating>First Name       
            <i *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)" class="alert alert-danger">
              <p *ngIf="first_name.errors.required">
               is required.
              </p>
            </i> 
          </ion-label>
          <ion-input id="first_name" class="form-control" formControlName="first_name" required> </ion-input>         
      </ion-item>      

      <ion-item>
          <ion-label floating>Last Name
            <i *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)" class="alert alert-danger">
              <p *ngIf="last_name.errors.required">
                is required.
              </p>
            </i>  
          </ion-label>
          <ion-input id="last_name" class="form-control" formControlName="last_name" required> </ion-input>         
      </ion-item>  
      
      
      <ion-item>
          <ion-label floating>Telp
                       
          </ion-label>
          <ion-input id="telp" class="form-control" formControlName="telp"> </ion-input>         
      </ion-item> 
    

      <ion-item>
          <ion-label floating>Phone
            <i *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
              <p *ngIf="phone.errors.required">
                Phone is required.
              </p>
            </i>              
          </ion-label>
          <ion-input id="phone" class="form-control" formControlName="phone" required> </ion-input>         
      </ion-item> 
      
      <ion-item>
          <ion-label floating>Email
            <i *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                <p *ngIf="email.errors.required">
                  Email is required.
                </p>
                <p *ngIf="email.errors.email">
                  Format Wrong.
                </p>                  
            </i>              
          </ion-label>
          <ion-input id="email" class="form-control" formControlName="email" required> </ion-input>         
      </ion-item> 
    

      <ion-item>
          <ion-label floating>Password
            <i *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
              <p *ngIf="password.errors.required">
                Password is required.
              </p>
              <p *ngIf="password.errors.minlength">
                Name must be at least 4 characters long.
              </p>              
            </i>            
          </ion-label>
          <ion-input id="password" class="form-control" formControlName="password" required> </ion-input>         
      </ion-item> 
       
      <ion-item *ngIf="errors.message" class="errors">
        <p class="alert-danger">{{ errors.message }}</p>
      </ion-item>
        
      <button ion-button block type="submit" (click)="register()">Register</button>


      </form>  

</ion-content>
