<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img alt="logo" height="30" src="assets/imgs/logo-horizontal.png" >
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-tabs>
  <ion-tab tabIcon="home" tabTitle="Home" [root]="tab1"></ion-tab>
  <ion-tab tabIcon="cart" tabTitle="Cart" [root]="tab2"></ion-tab>
  <ion-tab tabIcon="log-in" tabTitle="Login" [root]="tab3"></ion-tab>
</ion-tabs>
