<!--
  Generated template for the CatalogDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ catalog.name }}</ion-title>
    <ion-buttons end>
      <cart-menu></cart-menu>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="catalog.Attachment" >
    <app-colorbox img='{{ httpStorage+catalog.Attachment.hash }}' catalog='{{ catalog | json }}'></app-colorbox>     
  </div>
  
  <div *ngIf="catalog && catalog.is_grouping_mode == 0 && catalogMappings?.length <= 0 && catalogProducts">
    <ion-list>
      <ion-item *ngFor="let item of catalogProducts" (click)="itemTapped($event, item)" text-wrap>
        <h2>Part Number: {{ item.no_part }}</h2>      
        <h2>Quantitiy: {{ item.quantity }}</h2>  
        <p>Description: <span [innerHTML]="item.description"></span></p>
      </ion-item>    
    </ion-list>
  </div>

  <div *ngIf="catalog && catalog.is_grouping_mode == 0  && catalogMappings">
    <ion-list>
      <ion-item *ngFor="let item of catalogMappings" (click)="itemTapped($event, item)" text-wrap>
        <h2 id="item{{ item.archor }}">No: {{ item.archor }}</h2>
        <h2>Part Number: {{ item.no_part }}</h2>      
        <h2>Quantitiy: {{ item.quantity }}</h2>  
        <p>Description: <span [innerHTML]="item.description"></span></p>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="catalog.is_grouping_mode == 1" class="catalog-group">
    <ion-list class="accordion-list">
      <ion-list-header *ngFor="let item of catalogProducts; let i = index" no-padding text-wrap>
        <button id="item{{ item.code }}" ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}" class="mygroup-button">
          <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
          <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
            {{ item.code }} - {{ item.title }}
        </button>       
        <ion-list *ngIf="item.CatalogProductGroupItems && item.open" class="list-child">
           <!-- Third Level -->
           <ion-item *ngFor="let product of item.CatalogProductGroupItems; let k = index" detail-none class="child-item" text-wrap (click)="itemTapped($event, product.Product)">
              <h2>Part Number: {{ product.Product.no_part }}</h2>      
              <h2>Quantitiy: {{ product.Product.quantity }}</h2>                
              <p>Model: {{ product.Product.model }}</p>
              <p>Part Type: {{ product.Product.part_type }}</p>
              <p>Item Condition: {{ product.Product.item_condition }}</p>
              
              <p>Description: <span [innerHTML]="product.Product.description"></span></p>
            </ion-item>          
        </ion-list> 
      </ion-list-header>
    </ion-list>
  </div>
</ion-content>