.catalog-group {
    .list-header-md, .list-header-ios {
        margin-bottom: 0;
    }
    .list-md .item-block .item-inner {
        border-bottom: none;
    }
    .list-md > .item-block:first-child {
        border-top: 1px solid #c8c7cc;
    }
    .list-child .item-ios, .list-child .item-md {
        border-bottom: 1px solid #dedede;
    }
    .list-child .item-ios:last-child, .list-child .item-md:last-child {
        border-bottom: none;
    }
    .item-ios.item-block .item-inner {
        border-bottom: none;
    }
    .label-ios {
        margin-bottom: 0.5px;
        margin-top: 0.5px;
    }
    .list-ios {
        margin: -1px 0 1px;
    }    
    .row-header ion-col {
        background-color:lightgrey;
        font-weight: bold;
    }    
    .list-child .item-ios {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .list-header-ios {
        background: #ffffff;
    }
}
