<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Payment Confirmation</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <label for="file" class="custom-file-upload">
        <input id="file" type="file" accept="jpg, jpeg, png" (change)="upload($event.target.files)" />                   
        <ion-icon name="cloud-upload"></ion-icon> Upload Payment Slip
      </label>
      <br/>
      {{ file.value.name }}
      <i *ngIf="file.invalid && (file.dirty || file.touched)" class="alert alert-danger">
        <p *ngIf="file.errors.required">
          is required.
        </p>
      </i>     
    </ion-item>
    <ion-item>
      <ion-label floating>Order Number
        <i *ngIf="order_number.invalid && (order_number.dirty || order_number.touched)" class="alert alert-danger">
          <p *ngIf="order_number.errors.required">
            is required.
          </p>
        </i>       
      </ion-label>
      <ion-input type="text" formControlName="order_number"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label floating>Amount
        <i *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="alert alert-danger">
          <p *ngIf="amount.errors.required">
            is required.
          </p>
          <p *ngIf="amount.errors.pattern">
            is number
          </p>
        </i>          
      </ion-label>
      <ion-input type="text" formControlName="amount"></ion-input>
    </ion-item>                     
    <ion-item>
      <ion-label floating>Your Bank Name
        <i *ngIf="from_bank.invalid && (from_bank.dirty || from_bank.touched)" class="alert alert-danger">
          <p *ngIf="from_bank.errors.required">
            is required.
          </p>
        </i>          
      </ion-label>
      <ion-input type="text" formControlName="from_bank"></ion-input>
    </ion-item>        
    <ion-item>
      <ion-label floating>Your Bank Account Number
        <i *ngIf="from_bank_account_number.invalid && (from_bank_account_number.dirty || from_bank_account_number.touched)" class="alert alert-danger">
          <p *ngIf="from_bank_account_number.errors.required">
            is required.
          </p>
        </i>          
      </ion-label>
      <ion-input type="text" formControlName="from_bank_account_number"></ion-input>
    </ion-item>    
    <ion-item>
      <ion-label floating>Your Bank Account Name
        <i *ngIf="from_bank_account_name.invalid && (from_bank_account_name.dirty || from_bank_account_name.touched)" class="alert alert-danger">
          <p *ngIf="from_bank_account_name.errors.required">
            is required.
          </p>
        </i>        
      </ion-label>
      <ion-input type="text" formControlName="from_bank_account_name"></ion-input>
    </ion-item>    
    <ion-item>
      <ion-label floating>Transfer Date
        <i *ngIf="transfer_date.invalid && (transfer_date.dirty || transfer_date.touched)" class="alert alert-danger">
          <p *ngIf="transfer_date.errors.required">
            is required.
          </p>
        </i>         
      </ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" formControlName="transfer_date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>Transfer To
        <i *ngIf="transfer_to.invalid && (transfer_to.dirty || transfer_to.touched)" class="alert alert-danger">
          <p *ngIf="transfer_to.errors.required">
            is required.
          </p>
        </i>           
      </ion-label>
      <ion-select formControlName="transfer_to">
        <ion-option *ngFor="let bank of listBank">{{ bank.name }} - {{ bank.acoount_no }}</ion-option>
      </ion-select> 
    </ion-item>    
    <ion-item>
      <ion-label floating>Comment
        <i *ngIf="comment.invalid && (comment.dirty || comment.touched)" class="alert alert-danger">
          <p *ngIf="comment.errors.required">
            is required.
          </p>
        </i>           
      </ion-label>
      <ion-textarea type="text" formControlName="comment"></ion-textarea>
    </ion-item>   
    <p *ngIf="orderNumberError" class="alert alert-danger">
      {{ orderNumberError }}
    </p>        
    <button ion-button full color="success">Submit</button>
  </form>  
</ion-content>
