.my-div-icon {
    background-color: #ff0000;
    color: #ffffff;
    width: auto !important;
    height: 20px !important;    
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-weight: bold;    
}
