<!--
  Generated template for the CatalogtypePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ selectedCategory.name }}</ion-title>
    <ion-buttons end>
      <cart-menu></cart-menu>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let category of results" (click)="itemTapped($event, category)">
      <ion-thumbnail item-start *ngIf="category.image">
        <img src="{{ httpStorage+category.image }}">
      </ion-thumbnail>
      <h2>{{ category.name }}</h2>
    </ion-item>
  </ion-list>  
</ion-content>
