<!--
  Generated template for the CataloglistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ selectedCategory.name }}</ion-title>
    <ion-buttons end>
        <cart-menu></cart-menu>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>    
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let item of items" (click)="itemTapped($event, item)" text-wrap>
          <ion-thumbnail item-start *ngIf="item.Attachment">
            <img *ngIf="item.Attachment" src="{{ httpStorage+item.Attachment.hash }}">
          </ion-thumbnail>
          <h2>{{ item.name }}</h2>
        </ion-item>
      </ion-list>   
</ion-content>
