<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cart</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card *ngFor="let item of results">
    <ion-card-content>
      <h2>Part No: {{ item.Product.no_part }}</h2>  
      <p [innerHTML]="item.Product.description"></p>
      <p>Vendor Id: {{ item.Product.User.id }}, Shipped from {{ item.Product.User.UserProfile.Warehouse.name }}</p>
      <p>Weight: {{ item.Product.weight }} Kg</p>
      <p>QTY: {{ item.quantity }}</p>
      <p>Unit Price: IDR {{ item.Product.price | number}}</p>
      <h4>Total: IDR {{ item.quantity * item.Product.price | number:'3.2-5':'id'}}</h4>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear (click)="delete(item)">
          <ion-icon name="trash"></ion-icon> 
          Delete
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button icon-left clear (click)="updateModal(item)">
          <ion-icon name="create"></ion-icon> Edit
        </button>
      </ion-col>
    </ion-row>    
  </ion-card>
  <ion-card *ngIf="results">
    <ion-card-header>
      Total
    </ion-card-header>
    <ion-card-content>
      IDR {{ sumPrice() | number:'3.2-5':'id' }}
    </ion-card-content>
  </ion-card>
  <div style="margin-left: 10px; margin-right: 10px;">
    <button ion-button full (click)="checkout()">Checkout</button>
  </div>
</ion-content>
