<ion-header>
    <ion-toolbar>
        <ion-title>
            Update Quantity
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-list>    
            <ion-item>
                <ion-select  [(ngModel)]="item.quantity" name="quantity" #quantity="ngModel">
                    <ion-option *ngFor="let i of range(1, item.Product.stock)" [value]="i">{{ i }}</ion-option>
                </ion-select>     
                <button ion-button item-end (click)="updateCart()">Update</button>          
            </ion-item>     
                                   
        </ion-list>   
    </ion-card>     

</ion-content>