page-home {

}
.content {
    // background-image: url('/assets/imgs/landing-background.png');
    // background-size: cover;
    // background-repeat: no-repeat;    
    background-color: #ECE9E9;
}
.card-background-homepage {        
    .card-md,
    .card-ios  {
        background-color: transparent;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
}