<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <img alt="logo" height="30" src="assets/imgs/logo-horizontal.png" >
    </ion-title>
    <ion-buttons end>
      <cart-menu></cart-menu>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-homepage">
  <ion-card  *ngFor="let category of results" (click)="itemTapped($event, category)">
    <img src="{{ httpStorage+category.image }}"/>
  </ion-card>  
</ion-content>