<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><div *ngIf="products">{{ products[0].no_part }}</div></ion-title>
    <ion-buttons end>
      <cart-menu></cart-menu>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="products">
      <ion-card>
        <img *ngIf="products[0].image" src="{{ httpStorage+products[0].image }}"/>
        <ion-card-content>
          <ion-card-title>
            Part Number: <br/>{{ products[0].no_part }}
          </ion-card-title>
          <p [innerHTML]="products[0].description"></p>             
        </ion-card-content>
      </ion-card>     
      <ion-card *ngFor="let item of products">
        <ion-card-header>
          Vendor: {{ item.vendor_id }}
        </ion-card-header>
        <ion-card-content>
          <p>Stock: {{ item.stock }}</p>
          <p>Price: {{ item.price }}</p>
          <p>Part Type: {{ item.part_type }}</p>
          <p>Item Condition: {{ item.item_condition }}</p>
        </ion-card-content>        
        <form (ngSubmit)="onSubmit(item.id)" #cartForm="ngForm">
          <ion-item>
              <ion-label>Qty</ion-label>
              <ion-select  [(ngModel)]="addCartModel.quantity" name="quantity" #quantity="ngModel">
                <ion-option *ngFor="let i of range(1, item.stock)" [value]="i">{{ i }}</ion-option>
              </ion-select>  
              <button ion-button item-end type="submit" color="secondary" item-end>Add To Cart</button>        
          </ion-item>
        </form>
      </ion-card>
  </div> 
</ion-content>
