<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title *ngIf="!authServiceProvider.isLoggedIn()">Menu</ion-title>
      <ion-title *ngIf="authServiceProvider.isLoggedIn()">              
        <div *ngIf="authServiceProvider.userData">{{ authServiceProvider.userData.first_name }} </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>    
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon name="{{ p.icon }}" item-start></ion-icon> {{p.title}}
      </button> 
      <ion-buttons *ngIf="authServiceProvider.isLoggedIn()" >
        <button menuClose ion-item *ngFor="let p of authPages" (click)="openPage(p)">
            <ion-icon name="{{ p.icon }}" item-start></ion-icon> {{p.title}}
        </button>  
      </ion-buttons>        
      <button menuClose ion-item *ngIf="!authServiceProvider.isLoggedIn()" (click)="openLoginPage()"><ion-icon name="log-in" item-start></ion-icon> Login </button>
      <button menuClose ion-item *ngIf="!authServiceProvider.isLoggedIn()" (click)="openRegisterPage()"><ion-icon name="log-in" item-start></ion-icon> Register </button>
      <button menuClose ion-item *ngIf="authServiceProvider.isLoggedIn()" (click)="logout()"><ion-icon name="log-out" item-start></ion-icon> Logout </button> 
    </ion-list>         
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>