<!--
  Generated template for the CheckoutListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Confirm Your Order</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngFor="let items of cartItems">    
    <ion-card>
      <ion-card-header>
        Shopping Cart Items
      </ion-card-header>
        
      <ion-list>
        <ion-item *ngFor="let item of items.items" style="border-bottom: 1px #ddd solid" text-wrap>
          <h2>Part No: {{ item.Product.no_part }}</h2>  
          <p [innerHTML]="item.Product.description"></p>
          <p>Vendor Id: {{ item.Product.User.id }}, Shipped from {{ item.Product.User.UserProfile.Warehouse.name }}</p>
          <p>Weight: {{ item.Product.weight }} Kg</p>
          <p>QTY: {{ item.quantity }}</p>
          <p>Unit Price: IDR {{ item.Product.price | number}}</p>
          <h4>Total: IDR {{ item.quantity * item.Product.price | number:'3.2-5':'id'}}</h4>
        </ion-item>
      </ion-list> 
    </ion-card> 
  </div>
  
  <ion-card *ngIf="results">
      <ion-item text-wrap>
        <h2>
          Sub Total: IDR {{ results.sub_total | number:'3.2-5':'id' }}
        </h2>
        <h2>
          Shipping Rate: IDR {{ results.shipping_price | number:'3.2-5':'id' }}
        </h2>
        <h2>
          Total: IDR {{ results.total | number:'3.2-5':'id' }}
        </h2>      
      </ion-item>
  </ion-card> 

  <ion-card>
      <ion-card-header>
        Your Shipping Address
      </ion-card-header>
      <ion-item *ngIf="addressShipping" text-wrap>
        <p>
          To: {{ addressShipping.full_name }}
        </p>
        <p>
          Address: {{ addressShipping.address }}<br/>{{ filterCity(addressShipping.city_id) }}<br/>{{ filterProvince(addressShipping.province_id) }}, {{ addressShipping.postcode }}
        </p> 
        <p>
          Phone: {{ addressShipping.phone }}
        </p>       
      </ion-item>
  </ion-card>   
  <ion-card>
      <ion-card-header>
        Your Billing Address
      </ion-card-header>
      <ion-item *ngIf="addressBilling" text-wrap>
        <p>
          To: {{ addressBilling.full_name }}
        </p>
        <p>
          Address: {{ addressBilling.address }}<br/>{{ filterCity(addressBilling.city_id) }}<br/>{{ filterProvince(addressBilling.province_id) }}, {{ addressBilling.postcode }}
        </p> 
        <p>
          Phone: {{ addressBilling.phone }}
        </p>       
      </ion-item>
  </ion-card>   
  <form [formGroup]="formOrder" #formDir="ngForm">
    <ion-card>
      <ion-list radio-group formControlName="payment_id">
        <ion-list-header>
          Choose Payment Method
          <i *ngIf="payment_id.invalid && (payment_id.dirty || payment_id.touched)" class="alert alert-danger">
            <p *ngIf="payment_id.errors.required">
             is required.
            </p>
          </i>          
        </ion-list-header>    
        <ion-item *ngFor="let bank of listBank" text-wrap>
          <ion-label>{{  bank.name }}</ion-label>
          <ion-radio  value="{{ bank.id }}"></ion-radio>
        </ion-item>    
      </ion-list>    
    </ion-card>
    <ion-card>
      <ion-item text-wrap>
        <ion-label>
          I have read and agree <br/>to the Terms and Conditions
          <i *ngIf="terms.invalid && (terms.dirty || terms.touched)" class="alert alert-danger">
              <p *ngIf="terms.errors.required || terms.invalid">
               is required.
              </p>
            </i>         
        </ion-label>
        <ion-checkbox color="danger" value="1" formControlName="terms"></ion-checkbox>
      </ion-item>  
    </ion-card>  
    <button ion-button block type="submit" (click)="submit()">Checkout Now!</button>
  </form>
  <ion-item *ngIf="errors.message" class="errors">
    <p class="alert-danger">{{ errors.message }}</p>
  </ion-item>  
</ion-content>
