<!--
  Generated template for the OrderDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>    
    <ion-title *ngIf="order">Order: {{ order.order_number }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="order">
  <div style="padding-top: 50px;">
    <ion-card>
      <ion-card-header>
        Shopping Cart Items
      </ion-card-header>
      <ion-card-content>
        <ion-badge color="secondary">{{ getStatus(order.status) }} </ion-badge>  
      </ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of order.OrderItems" style="border-bottom: 1px #ddd solid">
          <h2>Part No: {{ item.Product.no_part }}</h2>  
          <p [innerHTML]="item.Product.description"></p>
          <p>Vendor Id: {{ item.Product.vendor_id }}, Shipped from {{ item.Product.vendor_id }}</p>
          <p>Weight: {{ item.Product.weight }} Kg</p>
          <p>QTY: {{ item.quantity }}</p>
          <p>Unit Price: IDR {{ item.Product.price | number}}</p>
          <h4>Total: IDR {{ item.quantity * item.Product.price | number:'3.2-5':'id'}}</h4>
        </ion-item>
      </ion-list> 
    </ion-card>   
    <ion-card *ngIf="order">
      <ion-item text-wrap>
        <h2>
          Sub Total: IDR {{ order.price_product | number:'3.2-5':'id' }}
        </h2>
        <h2>
          Shipping Rate: IDR {{ order.price_shipping | number:'3.2-5':'id' }}
        </h2>
        <h2>
          Total: IDR {{ order.price_product + order.price_shipping | number:'3.2-5':'id' }}
        </h2>      
      </ion-item>
    </ion-card>     
    <ion-card>
      <ion-card-header>
        Delivery To
      </ion-card-header>
      <ion-item *ngIf="order.OrderDelivery" text-wrap>
        <p>
          To: {{ order.OrderDelivery.name }}
        </p>
        <p *ngIf="listProvince || listCity">
          Address: {{ order.OrderDelivery.address }}<br/>{{ filterCity(order.OrderDelivery.city_id) }}<br/>{{ filterProvince(order.OrderDelivery.province_id) }}, {{ order.OrderDelivery.postcode }}
        </p> 
        <p>
          Phone: {{ order.OrderDelivery.phone }}
        </p>       
      </ion-item>
    </ion-card> 
    <p *ngIf="order.status == 1" padding>
      <button ion-button block (click)="confirmPayment(order.order_number)">Confirm Payment</button>
    </p>
  </div>
</ion-content>
