<!--
  Generated template for the CheckoutShippingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>      
      <ion-title>
        Checkout
      </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content class="page-register" padding>

  <button style="margin-bottom: 20px;"  *ngIf="!authServiceProvider.isLoggedIn()" ion-button block color="danger" type="submit" (click)="loginPage()">Login for faster proccess</button>

  <form [formGroup]="shippingForm" #formDir="ngForm">
    <ion-list radio-group formControlName="isUseMyExistingAddress" *ngIf="listAddress && authServiceProvider.isLoggedIn()">
      <ion-item text-wrap>
          <ion-label>I want to use an existing address</ion-label>
          <ion-radio value="1" checked="true" (click)="checkExistingAddress()"></ion-radio>      
      </ion-item>
      <ion-item text-wrap>
          <ion-label>I want to use a new address</ion-label>
          <ion-radio value="0" checked="false" (click)="checkExistingAddress()"></ion-radio>      
      </ion-item>            
    </ion-list>
    <ion-list *ngIf="listAddress && authServiceProvider.isLoggedIn() && userData.isUseMyExistingAddress == 1">
      <ion-item>
        <ion-label floating>Address</ion-label>
        <ion-select  formControlName="use_existing_address" (ionChange)="selectedExistingAddress($event)">
          <ion-option *ngFor="let addr of listAddress" [value]="addr.id">{{ addr.address }}</ion-option>
        </ion-select> 
      </ion-item>          
    </ion-list>
    <ion-list *ngIf="!authServiceProvider.isLoggedIn()">
      <ion-item>
        <ion-label floating>Email       
          <i *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <p *ngIf="email.errors.required">
             is required.
            </p>
          </i> 
        </ion-label>
        <ion-input id="email" class="form-control" formControlName="email"> </ion-input>         
      </ion-item>       
    </ion-list>
    <ion-list *ngIf="userData.isUseMyExistingAddress == 0 || !authServiceProvider.isLoggedIn()">

        <ion-item>
            <ion-label floating>Full Name       
              <i *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)" class="alert alert-danger">
                <p *ngIf="fullname.errors.required">
                 is required.
                </p>
              </i> 
            </ion-label>
            <ion-input id="fullname" class="form-control" formControlName="fullname"> </ion-input>         
        </ion-item>  
        <ion-item>
            <ion-label floating>Address      
              <i *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
                <p *ngIf="address.errors.required">
                 is required.
                </p>
              </i> 
            </ion-label>
            <ion-input id="address" class="form-control" formControlName="address"> </ion-input>         
        </ion-item>          
        <ion-item>
          <ion-label floating>Province</ion-label>
          <ion-select  formControlName="province_id" (ionChange)="provinceSelect($event, province)">
            <ion-option *ngFor="let province of listProvince" [value]="province.id">{{ province.name }}</ion-option>
          </ion-select> 
        </ion-item>   
        <ion-item>
          <ion-label floating>City</ion-label>
          <ion-select  formControlName="city_id">
            <ion-option *ngFor="let city of listCity" [value]="city.id">{{ city.name }}</ion-option>
          </ion-select> 
        </ion-item>      
        
        <ion-item>
          <ion-label floating>Postcode      
            <i *ngIf="postcode.invalid && (postcode.dirty || postcode.touched)" class="alert alert-danger">
              <p *ngIf="postcode.errors.required">
               is required.
              </p>
            </i> 
          </ion-label>
          <ion-input id="postcode" class="form-control" formControlName="postcode"> </ion-input>         
        </ion-item> 

        <ion-item>
          <ion-label floating>Phone      
            <i *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
              <p *ngIf="phone.errors.required">
               is required.
              </p>
            </i> 
          </ion-label>
          <ion-input id="phone" class="form-control" formControlName="phone"> </ion-input>         
        </ion-item>         

    </ion-list>
    

    <ion-item>
        <ion-label floating>Shipping Method 
          <i *ngIf="shipping_id.invalid && (shipping_id.dirty || shipping_id.touched)" class="alert alert-danger">
            <p *ngIf="shipping_id.errors.required">
             is required.
            </p>
          </i> 
        </ion-label>
        <ion-select  formControlName="shipping_id">
          <ion-option *ngFor="let shipping of listShippingMethods" [value]="shipping.id">{{ shipping.name }}</ion-option>
        </ion-select> 
    </ion-item>    

    <ion-item *ngIf="errors.message" class="errors">
      <p class="alert-danger">{{ errors.message }}</p> 
    </ion-item>    

    <button ion-button block type="submit" (click)="submit()">Next</button>

  </form>

</ion-content>
